.contact-form-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    font-family: "Libre Baskerville", serif; /* Luxury font */
  }
  
  .form-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50; /* Luxury dark blue */
  }
  
  .ant-form-item-label > label {
    color: #34495e;
    font-size: 18px;
  }
  
  .ant-input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ced6e0;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .submit-button {
    font-weight: bold;
    font-size: 18px;
    background-color: #C0B283;
    border-color:transparent;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #C0B283;
    border-color: transparent;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .contact-form-container {
      padding: 20px;
    }
    
    .form-title {
      font-size: 28px;
    }
  }
  
  @media (max-width: 480px) {
    .contact-form-container {
      padding: 15px;
    }
  
    .form-title {
      font-size: 24px;
    }
  
    .submit-button {
      font-size: 16px;
      padding: 10px;
    }
  }
  